@import url("/Assets/css/componentes/botao.css");

:root {
    --amarelo: #FFCB47;
    --branco: #FFFFFF;
    --preto: #202020;
    --cinza: #909090;

    --monteserrat: 'Montserrat', sans-serif;
    --elsie: 'Elsie Swash Caps', cursive;


}




